body {
font-family: 'Rubik', sans-serif; 
font-size: 18px;
}


p{
 color:gray;
}


.content {
margin-top: 70px;
}

.nav-item {
    padding: 10px;
    font-size: 15px;
    font-family: 'Rubik', sans-serif; 
}

.btn {
    font-size: 15px;
    font-family: 'Rubik', sans-serif; 

}
.btn-red {
    background: hsl(0, 94%, 66%);
    color: white;
}
.btn-red:hover {
    background-color: white;
    color: hsl(0, 94%, 66%);
    border: red !important;
}

.btn-primary {
    background-color: hsl(231, 69%, 60%);
}

.btn-primary:hover {
    background-color: white;
    color: hsl(231, 69%, 60%);
}

.btn-light:hover {
    border: 1px solid grey;
    background: white;
}

.marge{
    margin-top: 150px;
}
.text1{
    text-align: justify;
}
h1{
    text-align: left;
}
.img1{
    width: auto;
}

.img2 {
    width: 400px;
}

.ecrit2 { 
    margin-top: 70px;
    text-align: center;
}
.text2{
    text-align: center;
}
.speech2{
    text-align: center;
}

.features {
    margin-top: 10px;
    text-align: center;
}



.titrebookmarkoneclick {
    text-align: justify;
}



.img2 {
    width: auto;
}

.rectangle::before {
    z-index: -9999;
    position: absolute;
    display: block;
    top: 7em;
    margin-left: 200px;
    width: 100%;
    height: 20em;
    border-top-left-radius: 20em;
    border-bottom-left-radius:20em ;
    background-color: blue;
    content: "";
}

.rectangle2::before {
    z-index: -9999;
    position: absolute;
    display: block;
    top: 7em;
    width: 100%;
    height: 20em;
    border-top-right-radius: 20em;
    border-bottom-right-radius:20em ;
    background-color: blue;
    content: ""; 
}

.download {
    margin-top: 70px;
    text-align: center;
}

.cascade {
    min-height: 30em;
}

.size {
    font-size: 18px;
}

.underline {
    border-bottom: solid 2px gainsboro;
}

.underline:hover{
border-bottom: solid  hsl(0, 94%, 66%);
}

.card-header {
    background-color: white;
}

.card {
       border: none !important;
       border-top: 1px solid #dfdfdf !important;
    }

.more {
    text-align: center;
}

.containe2 {
    color: white;
    background-color: hsl(231, 69%, 60%);
    height: 200px;
}

.footer1 {
    background-color:hsl(231, 69%, 60%);
    color: white;
}

.footer2 {
    background-color: hsl(229, 31%, 21%) !important ;
}

.stroke {
    stroke: white !important;
    fill: white !important;
    color: white !important;

}
.bloc{
    width: 50%;
    align-items: center;
}
.logbas{
    margin-left: 800px;
}
.logbas2{
    margin: 10px;
}
.log1{
    margin: 20px;
}



